@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #333;
    background-color: #e6e3e2;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: 100%;
    background-size: "contain";
}

@layer components {
    /* ------------- */
    /* GAENERAL */
    /* ------------- */
    .header {
        @apply fixed z-50 shadow-sm h-[9.6rem] w-full
        flex justify-between items-center
        px-16 bg-primary;
    }

    .container {
        @apply xl:px-[9.6rem] xl:pb-[9.6rem] mx-auto max-w-[150rem] sm:px-[6rem] sm:pb-[6rem] p-8;
    }

    .main-head {
        @apply uppercase md:text-5xl text-4xl mb-0;
    }

    .nav-link {
        @apply pb-3 transition duration-300 border-b-4 border-transparent hover:border-logo-col;
    }

    .certified {
        @apply absolute top-8  -right-8
  text-grayscale-500 text-lg w-40 h-8
  tracking-widest bg-[#ffd43b] content-['certified'] 
  text-center font-bold uppercase
  py-[1px]
  rotate-45;
    }

    /* ------------- */
    /* INTRO */
    /* ------------- */
    .logo {
        @apply p-4 font-medium bg-logo-col text-primary;
    }

    .main-nav {
        @apply absolute top-0 left-0 
        flex items-center justify-center w-full
        h-screen px-12 transition-all duration-500 ease-in
        translate-x-full md:translate-x-0
        pointer-events-none  
        md:static md:top-auto md:left-auto md:w-auto 
        md:h-auto bg-white/90 md:bg-primary md:pointer-events-auto md:visible;
    }

    .nav-list {
        @apply flex flex-col items-center
         justify-center gap-20 text-4xl font-medium 
         uppercase md:flex-row md:text-2xl md:font-normal text-grayscale-500;
    }

    .nav-open .main-nav {
        @apply visible opacity-100 pointer-events-auto translate-x-0;
    }

    .btn-mob-nav {
        @apply block border-none cursor-pointer bg-none md:hidden;
    }
    .nav-open .btn-mob-nav {
        @apply absolute top-8 right-12;
    }
    .icon-mob-nav {
        @apply w-12 h-12;
    }

    .intro-head {
        @apply 2xl:text-[4rem] 2xl:leading-[6.4rem] font-normal 
        xl:text-[3.6rem] xl:mb-12 mb-8  
        text-5xl leading-[5rem];
    }

    .intro-desc {
        @apply xl:text-2xl 2xl:text-[1.6rem] text-[1.4rem] mb-12 leading-10;
    }

    /* ------------- */
    /* ABOUT */
    /* ------------- */
    .about-subhead {
        @apply lg:text-[2.4rem] font-medium lg:mb-10 
        text-[2rem] mb-4;
    }

    .about-tertiary {
        @apply mb-4 font-medium;
    }
    .about-desc {
        @apply flex flex-col 2xl:text-2xl 
    gap-y-8 xl:text-[1.4rem] lg:text-xl text-lg;
    }

    .skills {
        @apply grid grid-cols-4 gap-3 text-xs font-bold 
        lg:gap-4 lg:text-lg lg:grid-cols-3
        2xl:grid-cols-4
        text-grayscale-400/60;
    }
    .about-frontend {
        @apply;
    }
    .skills li {
        @apply lg:py-4 lg:px-8 bg-[#d6dbdb] py-2 text-center text-xs xl:text-lg;
    }

    /* ------------- */
    /* EXPERIENCE */
    /* ------------- */
    .exp-container {
        @apply grid pl-6 md:border-l-4 lg:pl-20 
        gap-y-8 border-logo-col border-l-[3px];
    }

    .dot {
        @apply absolute md:-translate-x-[9.3rem] top-0 bg-logo-col
               md:h-8 md:w-8 h-4 w-4 -translate-x-[3.2rem]
               rounded-full;
    }

    .exp {
        @apply relative md:px-12 pt-4 md:pb-12 border 
        md:shadow-lg bg-tertiary before:dot hover:-translate-y-2
        px-4 pb-4;
    }
    .exp-date {
        @apply text-base font-semibold text-logo-col lg:text-xl;
    }
    .exp-head {
        @apply font-semibold;
    }

    .exp-tag {
        @apply px-4 py-1 mt-2 text-xs uppercase bg-logo-col/10 lg:py-2 lg:px-8 lg:text-base;
    }
    .exp-desc {
        @apply text-sm lg:text-xl lg:mt-10 mt-4;
    }
    /* ------------- */
    /* PROJECT */
    /* ------------- */
    .project-img {
        @apply lg:w-[47.5rem] shadow-md hover:scale-110 md:w-[31.6rem] 
    overflow-hidden transition-all duration-300;
    }

    .project-title {
        @apply inline-block mb-4 font-normal uppercase transition-all duration-300 hover:text-logo-col text-3xl;
    }

    .project-desc {
        @apply text-grayscale-400 lg:text-[1.4rem] text-base leading-8;
    }

    .proj-tag {
        @apply px-4 py-1 mt-2 text-sm uppercase bg-logo-col/10 lg:py-2 lg:px-8 lg:text-base;
    }
    /* ------------- */
    /* CONTACT */
    /* ------------- */
    .social-link a {
        @apply flex justify-center 
        gap-x-1 bg-tertiary xl:py-3 xl:px-8 
        md:py-1 md:px-4 text-base md:text-xl;
    }

    .stripe1 {
        @apply absolute top-0 -left-12 md:-left-10 skew-x-[24deg] block
               h-6 w-2 md:h-8  md:w-3 bg-[#cfcccb];
    }
    .stripe2 {
        @apply absolute top-0 -left-8 md:-left-16 skew-x-[24deg] block
               h-6 w-2 md:h-8 md:w-3 bg-[#cfcccb];
    }

    .fact-text {
        @apply relative pb-12 lg:text-2xl lg:leading-10
         border-grayscale-300/30 border-b-[3px]
          before:stripe1 after:stripe2 text-grayscale-300 
           
          text-xl;
    }

    .btn-fact {
        @apply text-grayscale-300  hover:scale-125 transition-all duration-300 ease-in;
    }

    .btn-fact-icon {
        @apply w-[2.2rem] h-[2.2rem]  md:w-[3.2rem] md:h-[3.2rem];
    }
}

/* .container {
  /* 1140px */
/* max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
} */
