@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  /* ------------- */
  /* GAENERAL */
  /* ------------- */
  .main-head {
    @apply uppercase text-[3.2rem];
  }
  .nav-link {
    @apply pb-3 transition duration-300 
    border-b-4 border-transparent hover:border-logo-col;
  }

  .certified {
    @apply absolute top-8  -right-8
  text-grayscale-500 text-lg w-40 h-8
  tracking-widest bg-[#ffd43b] content-['certified'] 
  text-center font-bold uppercase
  py-[1px]
  rotate-45;
  }
  /* ------------- */
  /* EXPERIENCE */
  /* ------------- */

  .dot {
    @apply absolute -translate-x-[9.3rem] top-0
    bg-logo-col
    h-8 w-8
    rounded-full;
  }

  .exp {
    @apply shadow-lg bg-tertiary relative px-12 pt-3 pb-12 border before:dot hover:-translate-y-2;
  }
  .exp-date {
    @apply text-logo-col text-xl
    font-semibold;
  }
  .exp-head {
    @apply font-semibold;
  }

  .exp-tag {
    @apply bg-logo-col/10 py-2 px-8 text-base uppercase mt-2;
  }
  .exp-desc {
    @apply text-xl mt-10;
  }
  /* ------------- */
  /* PROJECT */
  /* ------------- */
  .project-img {
    @apply w-[47.5rem] shadow-md hover:scale-110 overflow-hidden transition-all duration-300;
  }

  .project-title {
    @apply uppercase font-normal mb-4 inline-block hover:text-logo-col transition-all duration-300;
  }

  .project-desc {
    @apply text-grayscale-300 text-[1.3rem];
  }

  .proj-tag {
    @apply bg-logo-col/10 py-2 px-8 text-base uppercase mt-2;
  }
  /* ------------- */
  /* CONTACT */
  /* ------------- */
  .social-link a {
    @apply flex gap-x-1 bg-tertiary font-medium py-3 px-8 mt-12;
  }

  .stripe1 {
    @apply absolute top-0 -left-10 skew-x-[24deg] block
    h-8 w-3 bg-grayscale-300;
  }
  .stripe2 {
    @apply absolute top-0 -left-16 skew-x-[24deg] block
    h-8 w-3 bg-grayscale-300;
  }

  .fact-text {
    @apply relative pb-12 text-2xl leading-10 border-grayscale-300/30 
    border-b-[3px] before:stripe1 after:stripe2 text-grayscale-300 
    transition-all duration-500 h-[100px];
  }
}

body {
  font-size: 1.6rem;
  background-color: #e6e3e2;
  color: #333;
}

img {
  max-width: 100%;
  height: 100%;
  background-size: "contain";
}

.container {
  padding: 9.6rem 9.6rem;
}

.skills li {
  padding: 1rem 2rem;
  background-color: #d6dbdb;
}
